.pyddit-add-post {
    margin-top:20px;
}

.pyddit-posts {}

.pyddit-post {list-style:none;padding-top:30px;}
.pyddit-post:first-child { padding-top:0; }

.pyddit-vote-cmds {}

.pyddit-vote-cmd,
.pyddit-score {display:inline-block; text-align:center;}

.pyddit-score { padding:0 20px; }
.pyddit-vote-cmd {font-size:2em;}
.pyddit-vote-up {}
.pyddit-vote-down {}

